.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 6rem;
}

.title {
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: transparent;

    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.titleText {
    font-size: 2.25rem;
    line-height: 2.5rem;

    opacity: 1;
    font-weight: bold;
}

.group {
    margin-bottom: 8rem;
    display: grid;
    text-align: center;
}

.lowerGroup {
    margin-bottom: 0px;
    gap: 0.5rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: left;
}

.box {
   border-radius: 0.5rem;
   border-width: 1px;
   border-color: transparent;

   padding-left: 1.25rem;
   padding-right: 1.25rem;

   padding-top: 1rem;
   padding-bottom: 1rem;

   transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   transition-duration: 150ms;
}

.box:hover {
    --tw-border-opacity: 1;
    --tw-bg-opacity: 1;

    border-color: rgb(30 30 30 / var(--tw-border-opacity));
    background-color: rgb(10 10 10 / var(--tw-bg-opacity));
}

.boxTitleText {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

.boxText {
    margin: 0px;
    max-width: 30ch;
    font-size: 0.875rem;
    line-height: 1.25rem;
    opacity: 0.5;
}