.group {
  margin-bottom: 8rem;
  display: grid;
  text-align: center;
  z-index: 3;
}

.lowerGroup {
  margin-bottom: 0px;
  gap: 2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: left;
}
